body {
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

img {
    width: 300px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header {
    background: #1f2937;
}

.header1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.header2text {
}

.header2 {
}

.awesome {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.welcome {
    font-size: 18px;
    color: #E5E7EB;
}

.welcomebutton > button {
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    padding: 8px 16px;
    border-radius: 12px;
}

.footer {
    background: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    padding: 16px;
}