body {
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.introtext, img {
    width: 300px;
    border-radius: 50px; /*makes the corners rounded*/
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header {
    background: #1f2937;
}

.header1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
    font-size: 18px;
}

.headerlinks
a {
    text-decoration: none;
    color: #E5E7EB;
}

.introtext {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 16px;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.awesome {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.welcome {
    font-size: 18px;
    color: #E5E7EB;
}

.welcomebutton > button {
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    padding: 6px 24px;
    border-radius: 12px; /*makes the corners rounded*/
}

.infotitle {
    font-family: segoe, tahoma;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.pictures {
    font-family: segoe, tahoma;
    display: flex;
    justify-content: center;
    gap: 52px;
    text-align: center;
    font-size: 24px;
    margin-bottom: 50px;
}

.info > img {
    width: 200px;
    height: 200px;
    border-radius: 12px; /*makes the corners rounded*/
}

.text
a { /*makes link blue without underline*/
    text-decoration: none;
    color: blue;
}

.text
a:hover { /*when link is hovered, will change color*/
    color: red;
}

.quote {
    background: #E5E7EB;
}

.footer {
    background: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    padding: 16px;
}