body {
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.introtext, img {
    width: 300px;
    border-radius: 50px; /*makes the corners rounded*/
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header {
    background: #1f2937;
}

.header1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
    font-size: 18px;
}

.headerlinks
a {
    text-decoration: none;
    color: #E5E7EB;
}

/*end of header*/
/*start of welcome section*/

.introtext {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 16px;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.awesome {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.welcome {
    font-size: 18px;
    color: #E5E7EB;
}

.welcomebutton > button {
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    padding: 6px 24px;
    border-radius: 12px; /*makes the corners rounded*/
}

/*end of welcome section*/
/*start of random info section*/

.infotitle {
    font-family: segoe, tahoma;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
}

.pictures {
    font-family: segoe, tahoma;
    display: flex;
    justify-content: center;
    gap: 52px;
    text-align: center;
    font-size: 24px;
    margin-bottom: 80px;
}

.info > img {
    width: 200px;
    height: 200px;
    border-radius: 12px; /*makes the corners rounded*/
}

.text
a { /*makes link blue without underline*/
    text-decoration: none;
    color: blue;
}

.text
a:hover { /*when link is hovered, will change color*/
    color: red;
}

/*end of random info section*/
/*start of quote section*/

.quotesection {
    background: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container { /*to shift quotee to end*/
    margin-top: 80px;
    margin-bottom: 60px; /*since quote has margin bottom 20px*/
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.quote {
    font-size: 36px;
    font-style: italic;
    margin-bottom: 20px;
}

.quotee {
    font-weight: bold;
    font-size: 24px;
}

/*end of quote section*/
/*start of sign up section*/

.signupsection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 {
    background-color: #3882F6;
    border-radius: 6px; /*makes the corners rounded*/
    margin: 80px;
    color: white;
    display: flex;
    align-items: center;
    padding: 50px 100px 50px 100px;
}

.signuptexts {
    display: flex;
    flex-direction: column;
    padding-right: 150px;
}

.signup1 {
    font-weight: bold;
    font-size: 20px;
}

.signup2 {
    font-size: 15px;
}

button {
    background: #3882F6;
    border: 2px solid white;
    color: white;
    padding: 6px 24px;
    border-radius: 6px; /*makes the corners rounded*/
    font-weight: bold;
}

/*end of sign up section*/
/*start of footer*/

.footer {
    background: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    padding: 16px;
} 